/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

$dark-bg: #212121;
$bg-black: #303030;
$hover-black: rgba(255, 255, 255, 0.025);
$paper-bg: #424242;
$text-secondary: rgba(255, 255, 255, 0.7);
$text-primary: #fff;
$palette-action-disabled: rgba(255, 255, 255, 0.3);

.key-element {
}

.shortcut {
  padding: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}

body {
  background-color: $dark-bg;

  .MuiDialog-paper {
    background-color: $bg-black;
    border: 1px solid black;

    .MuiIconButton-root {
      padding: 6px;
    }
  }

  .keymapper-row {
    height: 41px;
  }

  .keymapper-row {
    .tab-col {
      width: 50px;
      padding: 0;
    }

    .command-col {
      width: 150px;
    }

    .keybindings-col {
      max-width: 99%;
    }
  }

  .bottom-bar {
    padding: 10px;

    .apply-button {
      float: right;
    }
  }

  .MuiTableBody-root {
    .keymapper-row {
      &:hover {
        cursor: pointer;
        background-color: $hover-black;
      }
    }
  }

  .shortcut-dialog {
    .keybindings-col {
      min-width: 275px;
    }
  }

  .schema-selector {
    .MuiSelect-root {
      min-width: 125px;
    }
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 84;
    border-bottom: 1px solid rgba(81, 81, 81, 1);
  }
  .footer {
    border-top: 1px solid rgba(81, 81, 81, 1);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 56px;
  }

  .keymap-table {
    position: fixed;
    top: 101px;
    bottom: 56px;
    left: 0;
    right: 0;

    overflow: auto;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px $paper-bg;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $palette-action-disabled;
      border-radius: 10px;
    }
  }

  .conflict-header {
    background-color: $paper-bg;
    max-width: 300px;
    font-size: 0.8em;
  }

  .conflict-button {
    margin-right: 5px;
  }

  .collapse-button {
    margin-right: 10px;
  }

  .category-header {
    background-color: $bg-black;
    &:hover {
      cursor: pointer;
      background-color: $hover-black;
    }
  }
  .search-bar-container {
    padding: 6px;

    .MuiInputBase-input {
      //Fixes some weird bug from mui where the class order is wrong
      padding-top: 10.5px;
      padding-bottom: 10.5px;
      padding-right: 14px;
      padding-left: 14px;
    }
  }

  .MuiTooltip-popper > div {
    font-size: 0.8em;
  }

  .ide-info {
    margin-left: 5px;
  }
}

.blinking-cursor {
  font-size: 1.3em;
  margin: 2px;
}
