/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

$bg-black: #303030;
$hover-black: rgba(255, 255, 255, 0.08);
$paper-bg: #424242;
$text-secondary: rgba(255, 255, 255, 0.7);
$text-primary: #fff;
$palette-action-disabled: rgba(255, 255, 255, 0.3);

.key-element {
}

.shortcut {
  padding: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}

body {
  .MuiDialog-paper {
    background-color: $bg-black;
    border: 1px solid black;

    .MuiIconButton-root {
      padding: 6px;
    }
  }

  .MuiTableRow-root {
    height: 41px;
  }

  .keymapper-row {
    .command-col {
      width: 35%;
    }

    .keybindings-col {
      width: 65%;
    }
  }

  .bottom-bar {
    padding: 10px;

    .apply-button {
      float: right;
    }
  }

  .MuiTableBody-root {
    .keymapper-row {
      &:hover {
        cursor: pointer;
        background-color: $hover-black;
      }
    }
  }

  .shortcut-dialog {
    .keybindings-col {
      min-width: 275px;
    }
  }

  .schema-selector {
    float: right;

    .MuiSelect-root {
      min-width: 125px;
    }
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
  }
  .footer {
    border-top: 1px solid rgba(81, 81, 81, 1);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 56px;
  }

  .keymap-table {
    position: fixed;
    top: 100px;
    bottom: 56px;
    left: 0;
    right: 0;

    overflow: auto;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px $paper-bg;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $palette-action-disabled;
      border-radius: 10px;
    }
  }
}

.blinking-cursor {
  font-size: 1.3em;
  margin: 2px;
}
